/* .header {
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  animation: adjust-header linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
}

@keyframes adjust-header {
  to {
    background: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    height: 32px;
    border-radius: 0;
  }
} */

.menuHorizontal {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar {
  display: flex;
  padding: var(--navbar-padding, 0.5rem);
  min-height: 4rem;
  width: 100%;
  flex-direction: row;
    align-items: flex-start;
}
.menuVertical {
  width: 1100px;
  min-height: 530px;
  display: flex;
  background: #313131;
  margin-left: -5px;
  position: absolute
  ;
}



.lblmenu {
  width: 50px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.spn1,
.spn2,
.spn3 {
  position: absolute;
  content: "";
  background: #fff;
  width: 35px;
  height: 5px;
  border-radius: 5px;
  transition: all 400ms ease;
}

.spn2 {
  top: 11px;
}

.spn3 {
  top: 21px;
}

.btnmenu {
  display: none;
}

.btnmenu:checked ~ .lblmenu .spn1 {
  transform: rotate(140deg);
  top: 10px;
}

.btnmenu:checked ~ .lblmenu .spn2 {
  opacity: 0;
}

.btnmenu:checked ~ .lblmenu .spn3 {
  transform: rotate(-140deg);
  top: 10px;
}

/* .logoJEV {
  display: flex;
} */

.menuHamburguesa {
  display: flex;
}
